/* 
    Created on : 29/09/2018, 15:13:58
    Author     : gnunes
*/


/*Hover dos botões da navbar*/
.jfx-button-navbar:hover{
    -fx-background-color:#F0F0F0;
}

/* Botões Adcionar, Alterar e Excluir */
.jfx-button-adcionar{
    -fx-background-color:#9ccc65; 
}

.jfx-button-alterar{
    -fx-background-color:#fff176; 
}

.jfx-button-excluir{
    -fx-background-color:#e57373; 
}
